.custom-btn {
    background-color: #000;
    color: #fff;
    display: block;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.custom-btn:hover {
    transform: scale(1.05);
    background-color: #2c2c2c;
    color: #0084ff; /* Por ejemplo, un amarillo dorado */
}

.custom-btn img {
    max-height: 60px;
    margin-bottom: 1rem;
}

/* Ajuste responsivo: en móviles se apilan */
@media (max-width: 767px) {
    .custom-btn {
        margin-bottom: 1.5rem;
    }
}
